// color pallete for now: https://color.adobe.com/create/color-wheel/?base=2&rule=Compound&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.7137254901960783,0.25872549019598107,0.07137254901960782,0.5137254901960784,0.2953921568626984,0.20549019607843136,0.9137254901960784,0,0,0.23112745098039214,0.9245098039215686,0.2311274509805498,0.2954491564065517,0.7137254901960783,0.07137254901960782&swatchOrder=0,1,2,3,4

$margin: 0px 30px 30px 30px;
$background-color: white;
$text-color: black;

.flexbox {
  display: flex;
}

header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(127, 126, 120);
  img {
    max-height: 75px;
    margin: 1% 1%;
  }
  nav {
    width: 70%;
    ul {
      justify-content: space-around;
      list-style-type: none;
      margin: 0;
      a {
        text-decoration: none;
        color: white;
        font-size: 2em;

      }
    }
  }
}

.landing {
  justify-content: center;
  width: 50%;
  height: 175px;
  margin: 25% auto;
  background-color: rgb(204, 201, 192);
  border-radius: 2px;
  a {
    text-decoration: none;
    color: white;
    margin: auto 4%;
    font-size: 2em;
    background-color: rgb(25, 73, 127);
    border-radius: 5px;
    padding: 1%;
  }
}

.login {
  background-color: rgb(204, 201, 192);
  border-radius: 2px;
  justify-content: center;
  width: 50%;
  max-height: 275px;
  max-width: 225px;
  margin: 25% auto;

  .login-form {
    flex-direction: column;
    justify-content: center;
    width: 100%;

    input {
      margin: 2% auto;
      max-width: 80%;
    }

    button {
      margin: 2% auto;
    }
  }
}

.register {
  background-color: rgb(204, 201, 192);
  border-radius: 2px;
  justify-content: center;
  width: 50%;
  max-height: 275px;
  max-width: 225px;
  margin: 25% auto;

  .register-form {
    flex-direction: column;
    justify-content: center;
    width: 100%;

    input {
      margin: 2% auto;
      max-width: 80%;
    }

    button {
      margin: 2% auto;
    }
  }
}
