// color pallete for now: https://color.adobe.com/create/color-wheel/?base=2&rule=Compound&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.7137254901960783,0.25872549019598107,0.07137254901960782,0.5137254901960784,0.2953921568626984,0.20549019607843136,0.9137254901960784,0,0,0.23112745098039214,0.9245098039215686,0.2311274509805498,0.2954491564065517,0.7137254901960783,0.07137254901960782&swatchOrder=0,1,2,3,4

$margin: 0px 30px 30px 30px;
$background-color: white;
$text-color: black;

.flexbox {
  display: flex;
}

body {
  background: linear-gradient(45deg,  rgba(66, 183, 245,0.8) 0%,rgba(66, 245, 189,0.4) 100%);
}

header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(127, 126, 120);
  img {
    max-height: 75px;
    margin: 1% 1%;
  }
  nav {
    width: 70%;
    ul {
      justify-content: space-around;
      list-style-type: none;
      margin: 0;
      a {
        text-decoration: none;
        color: white;
        font-size: 2em;

      }
    }
  }
}

.landing {
  justify-content: center;
  width: 50%;
  height: 175px;
  margin: 25% auto;
  background-color: rgb(204, 201, 192);
  border-radius: 2px;
  a {
    text-decoration: none;
    color: white;
    margin: auto 4%;
    font-size: 2em;
    background-color: rgb(25, 73, 127);
    border-radius: 5px;
    padding: 1%;
  }
}

.login {
  position: relative;
  z-index: 15;
  background: white;
  max-width: 600px;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(#000000, .1);
  box-sizing: border-box;
  margin: 100px auto 10px;
  overflow: hidden;

  .login-form {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1% auto;
    width: 60%;

    label {
      display: block;
      margin: 2% 0;
      color: rgba(#000000, 0.6);
      font-size: 12px;
      font-weight: 500;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: .2em;
    }

    input {
      outline: none;
      display: block;
      background: rgba(#000000, 0.1);
      width: 100%;
      border: 0;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 12px 20px;
      color: rgba(#000000, 0.6);
      font-family: inherit;
      font-size: inherit;
      font-weight: 500;
      line-height: inherit;

      &:focus {
        color: rgba(#000000, 0.8);
      }
    }

    button {
      outline: none;
      background: #4285F4;
      width: 100%;
      border: 0;
      border-radius: 4px;
      padding: 12px 20px;
      color: #FFFFFF;
      font-family: inherit;
      font-size: inherit;
      font-weight: 500;
      line-height: inherit;
      text-transform: uppercase;
      cursor: pointer;
      margin: 2% 0;
    }
  }
}

// .login {
//   background-color: rgb(204, 201, 192);
//   border-radius: 2px;
//   justify-content: center;
//   width: 50%;
//   max-height: 275px;
//   max-width: 225px;
//   margin: 25% auto;
//
//   .login-form {
//     flex-direction: column;
//     justify-content: center;
//     width: 100%;
//
//     input {
//       margin: 2% auto;
//       max-width: 80%;
//     }
//
//     button {
//       margin: 2% auto;
//     }
//   }
// }

.register {
  background-color: rgb(204, 201, 192);
  border-radius: 2px;
  justify-content: center;
  width: 50%;
  max-height: 275px;
  max-width: 225px;
  margin: 25% auto;

  .register-form {
    flex-direction: column;
    justify-content: center;
    width: 100%;

    input {
      margin: 2% auto;
      max-width: 80%;
    }

    button {
      margin: 2% auto;
    }
  }
}
