// color pallete for now: https://color.adobe.com/create/color-wheel/?base=2&rule=Compound&selected=2&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.7137254901960783,0.25872549019598107,0.07137254901960782,0.5137254901960784,0.2953921568626984,0.20549019607843136,0.9137254901960784,0,0,0.23112745098039214,0.9245098039215686,0.2311274509805498,0.2954491564065517,0.7137254901960783,0.07137254901960782&swatchOrder=0,1,2,3,4

$margin: 0px 30px 30px 30px;
$background-color: white;
$text-color: black;
$our-dark-green: #4BB612;
$our-red: #E90000;
$our-light-green: #3BEC3B;
$our-orange: #B64212;
$our-brown: #834B34;

body {
  font-family: 'Arimo', sans-serif;
  background:url("../images/gloomy.jpeg");
  background-size:cover;
  background-attachment:fixed;
}

header {
  justify-content: space-between;
  align-items: center;
  font-family: 'Sanchez', serif;
  border-bottom: 1px white;
  width: 100%;
  background-color: $our-dark-green;
}
